
@{
    ViewBag.Title = "বিল";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <a class="nav-link back-link" href="~/"><i class="fas fa-fast-backward"></i>&nbsp;হোম</a>
    </div>
</div>
<div class="row home-page">
    <div class="col-md-12">
        <ul class="edgpay-menu">

            <li class="edgpayd-item">
                <a href="~/bill/bill-baki">
                    <i class="edgpayd-item-icon fab fa-btc"></i>
                    <span class="edgpayd-item-name">বিল বাকি</span>
                </a>
            </li>
            <li class="edgpayd-item">
                <a href="~/bill/bill-collection">
                    <i class="edgpayd-item-icon fas fa-ruble-sign"></i>
                    <span class="edgpayd-item-name">বিল সংগ্রহ</span>
                </a>
            </li>

            <li class="edgpayd-item">
                <a href="~/bill/bill-paid">
                    <i class="edgpayd-item-icon fab fa-palfed"></i>
                    <span class="edgpayd-item-name">পরিশোধ </span>
                </a>
            </li>

        </ul>
    </div>
</div>

